.theme-switcher {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.theme-switcher__text {
  font-size: 12px;
  position: absolute;
  width: 100px;
  bottom: -20px;
  left: -30px;
}
